body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 5px;
}

input, textarea {
  width: 100%;
  margin: 8px 0;
  padding: 6px;
}

button {
  background: green;
  color: white;
  padding: 8px;
  border: none;
  width: 100%;
}

table {
  margin: auto;
  background: white;
}
